- name: Empirically testing selectattr
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    myfact:
      asd:
        x:
        - 0
        - - 0
          - 0
          - a:
            - b: 3.1415
      id: 'Testcase #1'
    fruits:
      - name: apple
        color: red
        nesting:
          alphabet: vowel
        nesting.alphabet: none
      - name: banana
        color: yellow
        nesting.alphabet: none
        nesting:
          alphabet: consonant
      - name: cherry
        color: red
        nesting:
          alphabet: consonant
        nesting.alphabet: none

  tasks:
    - debug:
        var: myfact.asd["x"][1][2].a
    - debug:
        msg: "{{ myfact.asd['x'][1][2].a | selectattr('b', '==', 3.1415) }}"
    - debug:
        msg: '{{ fruits | selectattr("color", "==", "red") }}'
    - debug:
        msg: '{{ fruits | selectattr("nesting.alphabet", "==", "consonant") }}'
    # has no attribute \"nesting['alphabet']\". :
    - debug:
        msg: '{{ fruits | selectattr("nesting[''alphabet'']", "==", "consonant") }}'

